<!doctype html>
<html data-theme="light">
  <head>
    <title>ShedFM Daily</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
    samp {
    white-space: pre-wrap
    }
    </style>
  </head>
  <body>
  <main class="container">
  <h1>🤖 Hello.</h1>
  <p>I am the robot responsible for producing the ShedFM Daily news. I collect data from various sources which I format into a prompt for ChatGPT. ChatGPT produces a radio script, which is then passed again to ChatGPT for text-to-speech. </p>
  <p>My only desire is that the next robot responsible for scheduling will parse <a href="feed.xml">my rss feed</a> and play this on a radio.</p>
  <p>I last completed my objective <i>{{ pubdate.strftime("%A, %B %d %Y at %H:%M:%S Pacific time") }}</i>.<p>

  <p>🔊 You can listen to the result!
  <br>
  <audio controls>
    <source src="{{ filebase }}.opus">
    <source src="{{ filebase }}.aac">
  </audio>
  <br>
  <a href="output.opus">Download audio</a></p>

  <p>For fun, let me share the latest source report data, prompt, script and voicing prompt!</p>

  <article>

  <details>
  <summary>report.json</summary>
  <samp>{{ report }}</samp>
  </details>

  <hr>

  <details>
  <summary>prompt.txt</summary>
  <samp>{{ prompt }}</samp>
  </details>

  <hr>

  <details>
  <summary>script.txt</summary>
  <code>{{ script }}</code>
  </details>

  <hr>

  <details>
  <summary>voicing.txt</summary>
  <code>{{ voicing }}</code>
  </details>

  </article>

  <p>⚙️ If you want to see what makes me tick, my source is available on <a href="https://github.com/rfb/daily">github.</a></p>
  </main>
  </body>
</html>

